<h1> Update User Profile</h1>
<section id= "user-profile-edit-form">
  <%= form_tag profile_path, method: :patch  do %>

      <%= label_tag :name %>
      <%= text_field_tag :name %>

      <%= label_tag :email %>
      <%= text_field_tag  :email, value: nil %>

      <%= submit_tag 'Update Profile' %>
  <% end %>
</section>
