
<div class="jumbotron">
  <section id="user-info-<%=@user.id %>">
    <h1 class="display-4">Hello, <%= @user.name %>!</h1>
    <br>

    <%= image_tag profile_img.sample, class: 'profile-img' %>
    <br>
    <center>
      <p class="lead">Email: <%= @user.email %></p>
    </center>
  </section>
<br>
<center>
  <section id= "user-profile-actions">
    <%= link_to "Edit Password", "profile/edit_password", class: "btn btn-success" %>

    <%= link_to "Edit Profile", "profile/edit", class: "lead btn btn-info" %>

    <%= link_to "My Orders", "/profile/orders", class: "btn btn-secondary" %>
  </section>
</center>
<section id= "address">
  <%= link_to "Add New Address", new_address_path %>
<section id= "user-address">
  <% @user.addresses.each do |address| %>
  <section id= 'address-<%=address.id%>'>
    <h3><%= address.address_type %></h3>
    <p><%= address.name%></p>
    <p><%= address.address%></p>
    <p><%= address.city%></p>
    <p><%= address.state%><p>
    <p><%= address.zipcode%></p>
    <%= link_to "Edit", edit_address_path(address) %>
    <%= link_to "Delete", address_path(address), method: :delete %>
  </section>
  <% end %>
</section>
</section>
</div>
